<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money Game</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/game.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    
</head>
<body>
    <nav>
        <span>
            <p id="date">01/01</p>
            <button id="incDate">+</button>
        </span>
        <h1>Money Game</h1>
        <span>
            <a href="/"><img src="/assets/images/person fill0.svg"></a>
            <a href="/leaderboard"><img id="trophy" src="/assets/images/Material Symbols Trophy.svg"></a>
            <a href="/logout"><span class="material-symbols-outlined">logout</span></a>
        </span>
    </nav>

    <div id="upgrades" class="modal">
        <button id="happinessUpgrade" onclick="closeModal('upgrades')">Upgrade House</button>

        <button id="cancel" onclick="closeModal('upgrades')">Cancel</button>
    </div>

    <div id="funActivities" class="modal">

        <button id="act1">-$300<br>1 day<br>+6% happiness</button>
        <button id="act2">-$510<br>3 days<br>+12% happiness</button>
        <button id="act3">-$960<br>7 days<br>+24% happiness</button>
        <button id="act4">-$1800<br>14 days<br>+48% happiness</button>
        <span>
            <button onclick="closeModal('funActivities')">Cancel</button>
        </span>
    </div>

    <div id="learnActivities" class="modal">
        <button id="learn1">+$50 Income<br>-$100<br>-3%<br>1 day</button>
        <button id="learn2">+$150 Income<br>-$300<br>-6%<br>3 days</button>
        <button id="learn3">+$300 Income<br>-$500<br>-12%<br>7 days</button>
        <button id="learn4">+$600 Income<br>-$1050<br>-24%<br>14 days</button>
        <span>
            <button onclick="closeModal('learnActivities')">Cancel</button>
        </span>

    </div>

    <main>
        <div id="stats">

            <p id="happiness">Happiness:</p>
            <progress id="progress" class="progress" value="60" max="100"></progress>
            <p id="income">Income (per month): $</p>
            <p id="upgradeCost">Upgrade Cost: $</p>
        </div>

        <div id="character">
            <h1 id="money">$</h1>
            <h2 id="balance">$1000000</h2>
        </div>
        <div id="expenditures">
            <h4>Upcoming Expenditures: </h4>
            <div id="upcomingRent">
            <p>Rent:</p> <p id="rentPrice">$100</p><p> - </p> <p id="rentTimeUntil">2 days</p>
            </div>
            <div id="upcomingFood">
                <br>
                <p>Food:</p> <p id="foodPrice">$50</p><p> - </p> <p id="foodTimeUntil">2 days</p>

            </div>
        </div>
    </main>



    <div id="buttons">
        <button class="buttons2" id="fun" onclick="openModal('funActivities')"><img src="/assets/images/Material Symbols (2)..svg"></button>
        <button id="homeUpgrades" onclick="openModal('upgrades')"><img src="/assets/images/Material Symbols 1.svg"></button>
        <button class="buttons2" id="learn" onclick="openModal('learnActivities')"><img src="/assets/images/Material Symbols and Icons (2)..svg"></button>
        <span class="buttons1">
            <button id="fun" onclick="openModal('funActivities')"><img src="/assets/images/Material Symbols (2)..svg"></button>
            <span>
                <p>Lvl.</p>
                <h1 id="level">0</h1>
            </span>
            <button id="learn" onclick="openModal('learnActivities')"><img src="/assets/images/Material Symbols and Icons (2)..svg"></button>
        </span>
    </div>


    <div class="modal" id="error">
        <div id="errorDis">
            <span>
                <img onclick="closeModal('error')" src="/assets/images/Material Symbols 3.svg">
                <h2>Error:</h2>
            </span>
            <p>You have insufficient funds for this purchase</p>
        </div>
    </div>

    <div class="alarm"  id="rent">
        <img onclick="closeUnpaid('rent')" src="/assets/images/Material Symbols 3.svg">
        <p>You were unable to pay rent. Your level has been decreased.</p>
    </div>

    <div class="alarm" id="food">
        <img onclick="closeUnpaid('food')" src="/assets/images/Material Symbols 3.svg">
        <p>You were unable to pay your food bills. Your happiness has decreased.</p>
    </div>

    <div class="alarm" id="event">
        <img onclick="closeEvent()" src="/assets/images/Material Symbols 3.svg">
        <p id="alarmText">Something unfortunate has happened. You have lost money.</p>
    </div>

    <script type="text/javascript" src="/scripts/game.js"></script>
</body>
</html>

