@import url('https://fonts.googleapis.com/css2?family=Inter&family=Quicksand&display=swap');

html, body {margin: 0; height: 100%; overflow: hidden}

* {
    font-family: 'Inter', sans-serif;
}

body {
    color: #ffffff;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* main styling */

main {
    margin-top: 10vh;
    display: flex;
    width: 100vw;
    justify-content: space-around;
}

h2 {

    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
}

p,
h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}


/* modal styling */

.modal{
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9);
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}

.modal button{
    background: linear-gradient(180deg, #5200FF 0%, #8D57FF 100%);
    border-radius: 100%;
    border: none;
    width: 12vw;
    height: 12vw;
    cursor: pointer;
    font-size: 20px;
}

#upgrades, #funActivities, #learnActivities{
    flex-direction: row;
    justify-content: space-around;
}


/* button styling */
/* button styling */

#buttons {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#buttons span{
    margin-top: 1vh;
    display: flex;
    width: 50vw;
    justify-content: space-around;
}

#buttons button{
    background: linear-gradient(180deg, #5200FF 0%, #8D57FF 100%);
    border-radius: 100%;
    border: none;
    width: 5.8vw;
    height: 5.8vw;
    cursor: pointer;
}

#buttons img{
    width: 4.6vw;
    height: 4.6vw;
    flex-shrink: 0;
}


/*navbar styling */ 

#incDate{
    width: 30px;
    height: 30px;
    border-radius: 300px;
    cursor: pointer;
    border: none;
    background: linear-gradient(180deg, #5200FF 0%, #8D57FF 100%);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
}


#date{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

nav{
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}


h1{
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

nav span{
    width: 7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img{
    fill: #ffffff;
    height: 4vh;
}
nav #trophy{
    fill: #ffffff;
    height: 5vh;
}

/* upcoming Styling */

#expenditures p{
    display: inline;
}