#purple {
    background: linear-gradient(180deg, #5200FF 0%, #8D57FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
}

main {
    display: flex;
    height: 60vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    border: 2px solid #5200FF;
    background-color: #121212;
    height: 3vh;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
}

button {
    background: linear-gradient(180deg, #5200FF 0%, #8D57FF 100%);
    border: none;
    border-radius: 10px;
    width: 5.8vw;
    height: 3.5vh;
    cursor: pointer;
    color: #ffffff;
}

h2 {
    background: linear-gradient(180deg, rgba(82, 0, 255, 0.50) 0%, rgba(141, 87, 255, 0.50) 100%);
    opacity: 0.6;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: Inter;
    font-size: 800px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: fixed;
    z-index: -1;
    top: 0;
    width: 877px;
    height: 100vh;
    transform: rotate(-45deg);
    margin-top: 0;
}

@media only screen and (max-width: 600px) {
    form {
        display: flex;
        flex-direction: column;
    }

    button {
        margin-top: 2vh;
        width: 40vw;
    }
}
